# Build outputs 
bin/ 
obj/ 
*.exe 
*.o 
*.out 
a.out 
 
# Models and training data 
saved_models/ 
*.model 
*.weights 
 
# Analysis outputs 
analysis_reports/ 
*.log 
*.txt 
novel_errors.txt 
my_terminal_output.log 
